*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: normal;
}
body {
    background: linear-gradient(to right, #35393C, #42858C);
}
